* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

div p:first-of-type {
  margin: 20px;
  font-size: 3rem;
}

#button {
  display: block;;
  margin: 20px;
}
